
@{
    ViewBag.Title = "_NavBar";
    var user = User.Identity.Name;
    var role = User.IsInRole("SuperAdmin") || User.IsInRole("Admin");
}
<div class="text-justify col-md-7 d-flex menu-column">
    <nav class="main-menu navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse clearfix">
            <div class="row">
                <ul class="navigation clearfix">


                    <li class="dropdown">
                        @Html.ActionLink("Home", "Index", "Home")

                        <ul>
                            <li><a href="http://localhost:4200/">Archive</a></li>
                            <li>@Html.ActionLink("Stories", "StoriesIndex", "Story")</li>
                            <li>@Html.ActionLink("Support A Cause", "CauseIndex", "Cause")</li>
                            <li>@Html.ActionLink("Upcoming Events", "EventsIndex", "Event")</li>
                        </ul>
                    </li>


                    @if (user == "Admin" || user == "admin")
                    {
                        <li class="dropdown">
                            @Html.ActionLink("Organizer", "Index", "Item")
                            <ul>
                                <li>@Html.ActionLink("Manage Inventory", "Index", "Item")</li>
                                <li>@Html.ActionLink("Organize Event", "OrganizeEvents", "Event")</li>
                                <li>@Html.ActionLink("Organize Cause", "OrganizeCause", "Cause")</li>
                            </ul>
                        </li>
                    }

                    <li class="dropdown">
                        @Html.ActionLink("About Us", "About", "Home")
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("Contact Us", "Contact", "Home")
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="logoffname">
                            Hello @User.Identity.Name
                        </li>
                        <li class="logoff">
                            @Html.ActionLink("Logout", "LogOff", "Account")
                        </li>

                    }
                    <li class="dropdown">
                        @Html.ActionLink("Chat Room", "ChatIndex", "Chat")
                    </li>


                </ul>
            </div>
            <ul class="mobile-menu clearfix">
                <li class="dropdown active">
                    @Html.ActionLink("Home", "Index", "Home")
                    <ul>
                        <li><a href="http://localhost:4200/">Archive</a></li>
                        <li>@Html.ActionLink("Stories", "StoriesIndex", "Story")</li>
                        <li>@Html.ActionLink("Support A Cause", "SupportCause", "Support")</li>
                        <li>@Html.ActionLink("Upcoming Events", "UpcomingEvents", "Event")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    @Html.ActionLink("Organizer", "InventoryIndex", "Inventory")
                    <ul>
                        <li>@Html.ActionLink("Manage Inventory", "Index", "Item")</li>
                        <li>@Html.ActionLink("Organize Event", "OrganizeEvents", "Event")</li>
                        <li>@Html.ActionLink("Organize Cause", "OrganizeCause", "Cause")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    @Html.ActionLink("About Us", "About", "Home")
                </li>
                <li class="dropdown">
                    @Html.ActionLink("Contact Us", "Contact", "Home")
                </li>
            </ul>
        </div>
    </nav>
</div>

