@model IEnumerable<Entities.Cause>
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>
<body>

    <section class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>

                <li data-transition="fade">
                    <img src="~/Assets/images/ImagesSaved/Love-people-1680x768.jpg" alt="" width="1920" height="882" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                    <img src="~/Assets/images/ImagesSaved/help-getty.jpg" />
                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset=""
                         data-y="center" data-voffset="-70"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="500">
                        <div class="slide-content-box center">
                            <h4>Thousands of people could use your help!</h4>
                            <h1><span>help</span> Those in <span>need</span></h1>
                            <p>It's the first step to realize that you can help..<br>The next one is to do it! </p>
                        </div>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="80"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="1500">
                        <div class="slide-content-box">
                            <div class="button">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="thm-btn" onclick="signupToggle()" href="#">join us today</a>
                                }
                            </div>
                        </div>
                    </div>

                </li>

                <li data-transition="fade">
                    <img src="~/Assets/images/ImagesSaved/Love-people-1680x768.jpg" alt="" width="1920" height="882" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset=""
                         data-y="center" data-voffset="-70"
                         data-transform_idle="o:1;"
                         data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="500">
                        <div class="slide-content-box center">
                            <h4>Reach out to them Now!</h4>
                            <h1>help those in <span>need</span></h1>
                            <p>Now is the time to re-imagine a kinder society :) <br> Remember that helping others feels  good! </p>
                        </div>
                    </div>
                    <div class="tp-caption tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="80"
                         data-transform_idle="o:1;"
                         data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                         data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                         data-splitin="none"
                         data-splitout="none"
                         data-responsive_offset="on"
                         data-start="1500">
                        <div class="slide-content-box">
                            <div class="button">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="thm-btn" onclick="signupToggle()" href="#">join us today</a>
                                }
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--TEST PROGRESSING BAR-->
    <section class="urgent-cause">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-md-offset-1">
                    <div class="urgent-cause-slide">
                        @foreach (var cause in Model)
                        {
                            if (cause.Photo!=null)
                            {
                                var res = Math.Round((100 * cause.CurrentAmmount) / cause.TargetGoal);

                            <div class="item">
                                <div class="clearfix bg-area">
                                    <div id="imgdi" class="content">
                                        <img id="imgkat" src="~/Assets/images/ImagesSaved/@cause.Photo" style="width:1550px; object-fit:cover;" />
                                        <div id="kati2">

                                            <div id="logia"><h4 style="color: #0e0d0de4;">@cause.Title</h4><br /><h4 style="color: #ffffffce;"><span style="color: #0e0d0de4; ">Description:</span> <br />@cause.Description</h4> </div>

                                            <div id="kati3">
                                                <div>

                                                    <div id="kati4">
                                                        <svg class="tama">
                                                            <circle style="stroke-dashoffset: calc(440px - (440px * @res) / 100);" cx="70" cy="70" r="70"></circle>
                                                            <circle cx="70" cy="70" r="70"></circle>
                                                        </svg>

                                                        <div id="kati5">
                                                            <h2 style="color:#ffffff94;">@res<span>%</span></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div id="lett" class="donate-price"><strong>@cause.CurrentAmmount€&nbsp;  Raised of <span  class="lett1"> @cause.TargetGoal€ </span> Goal </strong></div>

                                    </div>
                                </div>

                            </div>
                                }
                            }
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!--EMD TEST-->

    <section class="our-missions">
        <div class="container">
            <div class="section-title">
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="kati6"><a id="lod" href="/Cause/CauseIndex">donate now</a></div>
                }
                <h1>our <span>missions</span></h1>
                <p> Tons of people are starving and are forced to live a life in the absence of basic amenities. They do not have food, clothes, and homes to live safe and healthy. Whatever caused this situation, these people are humans and it is our duty to help as many as we can. We also target to help animals anyway we can as well!</p>
                <p>Join us in our effort by one of the following ways :</p>
            </div>
            <div class="item-box">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="image-box">
                                <img src="~/Assets/images/missions/1.png" alt="" />
                            </div>
                            <div class="content-box">
                                <h2>Donation</h2>
                                <p>Whether you choose to donate to support people living in poverty, protect the environment or help animals in need, we will happily recieve your help!</p>
                            </div>
                            <div class="link"><a href="#" class="thm-btn style-2">join now</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="image-box">
                                <img src="~/Assets/images/missions/2.png" alt="" />
                            </div>
                            <div class="content-box">
                                <h2>Become a volunteer</h2>
                                <p>Depending on where you volunteer, the tasks you’re assigned will be different, but useful for all of us. We're needing any help we can get!</p>
                            </div>
                            <div class="link"><a href="#" class="thm-btn style-2">join now</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="item">
                            <div class="image-box">
                                <img src="~/Assets/images/missions/3.png" alt="" />
                            </div>
                            <div class="content-box">
                                <h2>fundraising</h2>
                                <p>Many patients lose their lives because they cannot afford to pay for medical bills, even though they are notfacing life-threatening diseases. We can provide for them!</p>
                            </div>
                            <div class="link"><a href="#" class="thm-btn style-2">join now</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="features">
        <div class="container">
            <div class="item-list">
                <div class="row">
                    <div class="col-md-6">
                        <div class="item">
                            <div class="section-title">

                                <h1>WHERE <span> MONEY </span> GOES</h1>
                                <p>This is a simple chart to show briefly where the money we recieve from our community goes, based on the categories of the needs.</p>
                            </div>
                            <div class="content-box">
                                <ul class="default-list">
                                    <li><i  class="flaticon-check-mark-square-button"></i><span>60% </span>money goes for <span>Food Donation</span></li>
                                    <li><i class="flaticon-check-mark-square-button"></i><span>35%</span> money goes for <span>Educational Funds </span></li>
                                    <li><i class="flaticon-check-mark-square-button"></i><span>15%</span> money goes for <span>Health Donation </span></li>
                                    <li><i class="flaticon-check-mark-square-button"></i><span>20% </span>money goes for <span>Building Shelters </span></li>
                                </ul>
                                <div class="link"><a href="#" class="thm-btn">JOIN US TODAY</a></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="item">
                            <div>

                                <img class="imgpie" src="~/Assets/images/feature/24.png" />
                                <canvas id="myChart"></canvas>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>



    <!--start parallax-sec-one-->
    @*<section class="parallax-sec-one">
        <div class="container">
            <div class="section-title">
                <h1>we help many people</h1>
                <h4>want to become a <span>volunteer!</span></h4>
            </div>
            <div class="content-box text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <div class="link"><a href="single-cause.html" class="thm-btn">Apply now</a></div>
        </div>
    </section>*@
    <!--end parallax-sec-one-->

</body>
</html>