@model Entities.Cause

@{
    ViewBag.Title = "CauseDonate";
}
@{
    var res = Math.Round((100 * Model.CurrentAmmount) / Model.TargetGoal);
}

<section class="page-banner">
    <div class="container">
        <div class="title">
            <h1>Single <span>Cause</span></h1>
        </div>
        <div class="text">
            <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore </p>
        </div>
        <div class="breadcumb-wrapper">
            <ul class="list-inline link-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">Causes</a></li>
                <li>Single Cause</li>
            </ul>
        </div>
    </div>
</section>

<section class="single-cause">
    <div class="container">
        <figure class="image-box">
            <img src="images/causes/s1.jpg" alt="" />
        </figure>
        <div class="content-box">
            <div class="icon-box">
                <img src="images/causes/1.png" alt="" />
            </div>
            <div class="title">
                <h2> @Html.DisplayFor(model => model.Title)</h2>
            </div>
            <div class="text">
                <p>  @Html.DisplayFor(model => model.Description)</p>
            </div>
            <div class="progress-levels">
                <div class="progress-box">
                    <div class="inner">
                        <div class="bar">
                            <div class="bar-innner">
                                <div class="bar-fill" data-percent=" @res">
                                    <span class="percent">@res%</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="donate-price"><b> @Html.DisplayFor(model => model.CurrentAmmount)€ </b>&nbsp; Raised of  <span>  @Html.DisplayFor(model => model.TargetGoal)€ </span> Goal</div>

            <div class="donate-amount">
                <div class="title">
                    <h5><i class="fa fa-arrow-circle-right"></i>Enter an amount to Donate</h5>
                </div>
                <div class="default-form-area">
                    <form id="contact-form" name="contact_form" class="default-form style-three" action="sendmail.php" method="post">
                        <div class="row clearfix">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="form-group style-three">
                                    <input id="foo" type="text" name="form_name" class="form-control" value="" placeholder="20€" required="">
                                    <input id="koo" type="hidden" name="name" value="@Model.Id" />
                                </div>

                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div id="paypal-button-container"></div>
                            </div>

                        </div>
                    </form>
                </div>

            </div>

            <div class="clients-section style-two">

                <div class="clients-carousel">
                    <div class="item">
                        <div class="image-box">
                            <img src="images/clients/1.png" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="image-box">
                            <img src="images/clients/2.png" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="image-box">
                            <img src="images/clients/3.png" alt="">
                        </div>
                    </div>

                    <div class="item">
                        <div class="image-box">
                            <img src="images/clients/2.png" alt="">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    @section scripts{
        <script src="https://www.paypal.com/sdk/js?client-id=AV42MDljTyYz4PnD2iB4Kbjcxy7NF1Lena85f8qW3M_hCHuxRX1LHg4y04IU9Khq8qH1eCCEnYnZNUIM"></script>
        <script>

            //console.log("paypal eisaiedwreBRO??")

            paypal.Buttons({
                createOrder: function (data, actions) {
                    // This function sets up the details of the transaction, including the amount and line item details.
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: document.getElementById("foo").value
                            }
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    // This function captures the funds from the transaction.
                    return actions.order.capture().then(function (details) {
                                // This function shows a transaction success message to your buyer.
                              alert('Transaction completed by ' + details.payer.name.given_name);
                          //console.log(data);
                        //console.log(actions);

                    }).then(callAjax());
                }
            }).render('#paypal-button-container');
                        //This function displays payment buttons on your web page.

            function callAjax() {

                //-----------------------------malakies xazes vlakeis AISXOS
                $.ajax({
                    type: "put",
                    url: "@Url.Action("EditCauseJson","Cause")",
                    data: JSON.stringify({ "Id": document.getElementById("koo").value, "amount": document.getElementById("foo").value }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function () {
                        console.log("to console log den douleyei edw pera ... kai oute kai to alert aop katw")
                        alert("Successfully Donated To Cause");
                        console.log(editedCause);
                    },
                    failure: function () {
                        alert("Did not save");
                        console.log(editedCause);
                    }
                });
            }

        </script>
    }
</section>
