@model Entities.Cause

@{
    ViewBag.Title = "CauseDetails";
}

<div>
    <hr />
    <h4 style="display:center;">Cause Details</h4>
    <section class="single-event">
        <div class="container">
            <figure class="image-box">
                <img src="images/event/8.jpg" alt="" />
            </figure>
            <div class="content-box">
                <div class="icon-box">
                    @Html.DisplayFor(model => model.Photo)
                </div>
                <div class="title">
                    <h2>@Html.DisplayFor(model => model.Title)</h2>
                </div>
                <div class="text">
                    <p>@Html.DisplayFor(model => model.Description)</p>
                </div>

                <div class="donate-price"><b>@Html.DisplayFor(model => model.CurrentAmmount)€ </b>&nbsp; Raised of  <span> @Html.DisplayFor(model => model.TargetGoal)€ </span> Goal</div>




            </div>
        </div>
    </section>
</div>
<p>
    @Html.ActionLink("Edit", "EditCause", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "OrganizeCause")
</p>
