@model Entities.Cause

@{
    ViewBag.Title = "OrganizeCause";
}

@*Organize Cause*@

<section class="all-causes">
    <div class="container">
        <div class="section-title">
            <h5>going to raise humanity</h5>
            <h1>organize <span>cause</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>

        <div>
            <span><a href="@Url.Action("CreateCause","Cause")" class="thm-btn style-1">Create A Cause</a></span>
            <br />
            <br />
            <br />
        </div>
        <div class="item-list">
            <div class="item wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="bg-area">


                    @foreach (var cause in Model)
                    {

                        <div class="content-box">

                            <a href="@Url.Action("EventDetails","Event",new {id = @cause.Id})"> <h3>@eve.Title</h3></a>
                            <ul class="event-info">
                                <li><span class="fa fa-calendar"></span> @eve.EventDate.ToLongDateString()</li>
                                <li> &emsp; <span class="fa fa-map-marker"></span>@eve.Address</li>

                            </ul>
                            <div class="text">
                                <p>@eve.Description</p>
                            </div>
                            <div>
                                <span><a href="@Url.Action("EditEvent","Event",new {id = @eve.Id})" class="thm-btn style-2">Edit Event</a><a href="@Url.Action("DeleteEvent","Event",new {id = @eve.Id})" class="thm-btn style-2">Delete  Event</a></span>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</section>

