@model PagedList.IPagedList<Entities.Cause>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "OrganizeCause";
}

@*Organize Cause*@

<section class="all-event">
    <div class="container">
        <div class="section-title">
            <h1>organize <span>cause</span></h1>
            <p>On this page you can manage ALL the CAUSES that are currently on our database, as well as create new ones.</p>
        </div>

        <div>
            <a href="@Url.Action("CreateCause","Cause")" class="thm-btn style-1">Create A Cause</a>
            <br />
            <br />
            <br />
        </div>
        <div class="item-list">
            <div class="item wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="bg-area">


                    @foreach (var cause in Model)
                    {

                        <div class="content-box">

                            <a href="@Url.Action("CauseDetails","Cause",new {id = @cause.Id})"> <h3 class="RedTitle">@cause.Title</h3></a>
                            <ul class="cause-info">
                            </ul>
                            <div class="text">
                                <p>@cause.Description</p>
                            </div>
                            @if (cause.Photo == null)
                            {
                                <div style="display:hidden"></div>
                            }
                            else
                            {
                                <div style="text-align: left">
                                    <img id="imgcause" style="border-radius: 15px; height: 432px; width: 768px; object-fit: contain; " src="~/Assets/images/ImagesSaved/@cause.Photo" alt="Image couldn't render" />
                                </div>
                            }
                            <div style="padding-top:10px; padding-bottom:10px;">
                                <strong>Target Goal: </strong>
                                @Html.DisplayFor(modelItem => @cause.TargetGoal)
                                <br />
                                <strong>Current Ammount: </strong>
                                @Html.DisplayFor(modelItem => @cause.CurrentAmmount)
                            </div>
                            <div>
                                <a href="@Url.Action("EditCause","Cause",new {id = @cause.Id})" class="thm-btn style-2">Edit Cause</a>
                                <a href="@Url.Action("DeleteCause","Cause",new {id = cause.Id})" class="thm-btn style-1">Delete  Cause</a>
                            </div>
                        </div>
                        <hr />
                        <br />
                    }
                    <div class="ourPaging">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("OrganizeCause",
                            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

