@model Entities.Item

@{
    ViewBag.Title = "Delete";
}
<section>
    <div class="container">
        <div class="default-form-area" style="display: flex; justify-content: center; padding-top:100px">
            <div id="contact-form" class="default-form">
                <div class="section-title" style="padding-bottom:40px;">
                    <h3 style=" text-align:center;"><strong>ARE YOU <em>SURE</em> YOU WANT TO <span>DELETE</span> THIS ITEM?</strong></h3>
                </div>
                
                    <hr />
                    <div class="form-group" style="text-align:left; justify-content: center">
                        <div style=" padding-bottom: 40px;">
                            <h3><strong>@Html.DisplayFor(model => model.ItemName)</strong></h3>
                        </div>
                        <div>
                            <p style="color:black;">QUANTITY: @Html.DisplayFor(model => model.Quantity)</p>
                        </div>
                        <div>
                            <p style="color:black;">PRICE: @Html.DisplayFor(model => model.Price)</p>
                        </div>
                    </div>
                        <div class="form-group">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <div>
                                        <input type="submit" value="Delete" class="thm-btn style-1" />
                                    </div>
                                </div>

                                <div>

                                    @Html.ActionLink("Back to List", "")
                                </div>
                            }
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </section>
