@model Entities.Item

@{
    ViewBag.Title = "Delete";
}
<div class="default-form-area" style="margin-top: 34px !important; display: flex; justify-content: center">
    <div id="contact-form" class="default-form">
        <div class="section-title">
            <h1 style="margin-left:45px">Are you sure you want to <span>delete</span> this Item?</h1>
        </div>
        <div class="row clearfix" style="justify-content: center">
            <div class="col-md-12 col-sm-12 col-xs-6">
                <hr />
                <div class="form-group">
                    <div class="section-title">
                        <h4>Title</h4>
                    </div>
                    @Html.DisplayFor(model => model.ItemName)
                </div>

                <div class="form-group">
                    <div class="section-title">
                        <h4>Description</h4>
                    </div>
                    @Html.DisplayFor(model => model.Quantity)
                </div>

                <div class="form-group">
                    <div class="section-title">
                        <h4>Photo</h4>
                    </div>
                    @Html.DisplayFor(model => model.Price)
                </div>
                <div class="form-group">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div>
                                <input type="submit" value="Delete" class="thm-btn style-1" />
                            </div>
                        </div>

                        <div>

                            @Html.ActionLink("Back to List", "OrganizeCause")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>