@model IEnumerable<Entities.Item>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <table class="table table-hover table-striped ml-5">
        <tr class="col-12">
            <th class="m-3">
                <button class="btn size5 btn-success" onclick="location.href='@Url.Action("Create", "Item")'">Add New Item</button>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th class="col-3" style="text-align:center">
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th class="col-1" style="text-align:center">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="col-1" style="text-align:center">
                Update Quantity
            </th>
            <th class="col-1" style="text-align:center">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="col-1" style="text-align:center">
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-3">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td class="col-1" style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="col-1" style="text-align:center">
                    <button class="btn btn-success" onclick="location.href='@Url.Action("AddQuantity", "Item", new { id = item.Id })'">+</button>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("RemoveQuantity", "Item", new { id = item.Id })'">-</button>
                </td>
                <td class="col-1" style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td class="col-1" style="text-align:center">
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Item", new { id = item.Id })'">Delete</button>
                </td>
            </tr>
        }


    </table>
</div>
