@model Entities.IdentityModel.AccountViewModel.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Login With Google";
}
<section style="margin-top: 100px; margin-bottom: 100px;" class="single-cause">
    <div class="container">
        <h3>Associate your @ViewBag.LoginProvider account.</h3>

        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div style="padding:50px 0px 20px; text-align:left;">
               
            </div>
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="">
                    <p class="text-info">
                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong> using your account below.
                    </p>
                </div>
                <div>
                    <p class="text-info">Please click on Register to finish logging in.</p>
                </div>
            </div>
            <div class="form-group google-email-form" style="text-align:left; padding-bottom:20px;">
                <div>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }

    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
