@model Entities.Event

@{
    ViewBag.Title = "DeleteEvent";
}

<section>
    <div class="container">
        <div class="default-form-area" style="display: flex; justify-content: center; padding-top:100px">
            <div id="contact-form" class="default-form">
                <div class="section-title" style="padding-bottom:40px;">
                    <h3 style=" text-align:center;"><strong>ARE YOU <em>SURE</em> YOU WANT TO <span>DELETE</span> THIS EVENT?</strong></h3>
                </div>
                <div class="row clearfix">
                    <hr />
                    <div class="form-group" style="text-align:left;">
                        <div style=" padding-bottom: 40px;">
                            <h3><strong>@Html.DisplayFor(model => model.Title)</strong></h3>
                            @*<div>
                                    <p>@Html.DisplayFor(model => model.Photo)</p>
                                </div>*@
                        </div>
                        <div style="padding-bottom: 30px;">
                            <h4><em>@Html.DisplayFor(model => model.Description)</em></h4>
                        </div>
                        <div>
                            <p style="color:black;">DESCRIPTION: @Html.DisplayFor(model => model.FullDescription)</p>
                        </div>
                        <div>
                            <p style="color:black;">Address: @Html.DisplayFor(model => model.Address)</p>
                            <p style="color:black;">Date: @Html.DisplayFor(model => model.EventDate)</p>
                        </div>
                        
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div>
                                    <input type="submit" value="Delete" class="thm-btn style-1" />
                                </div>
                            </div>
                            <div style="text-align:center;">
                                @Html.ActionLink("Back to List", "OrganizeEvents")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>