@model IEnumerable<Entities.Event>

@{
    ViewBag.Title = "OrganizeEvents";
}



<!--start upcoming-event-->
<section class="all-event">
    <div class="container">
        <div class="section-title">
            <h5>going to raise humanity</h5>
            <h1>upcoming <span>event</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>


        <div class="item-list">
            <div class="item wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="bg-area">
                    <div class="image-box">
                        <img src="~/Assets/Selection/events1.jpg" />
                        <div class="overlay">
                            <div class="box">
                                
                            </div>
                        </div>
                    </div>

                   
                    <div class="content-box">
                        @foreach (var eve in Model.OrderBy(x => x.EventDate))
                        {

                            if (eve.EventDate >= DateTime.Now)
                            {
                                <div class="title-area">

                                    <div class="date">@eve.EventDate.Day<br><span>@eve.EventDate.ToString("MMM")</span></div>
                                    <a href="@Url.Action("EventDetails","Event",new {id = @eve.Id})"> <h3 class="RedTitle">@eve.Title</h3></a>
                                    <ul class="event-info">
                                        <li><span class="fa fa-calendar"></span> @eve.EventDate.ToLongDateString()</li>
                                        <li> &emsp; <span class="fa fa-map-marker"></span>@eve.Address</li>
                                    </ul>

                                    <div class="text">
                                        <p>@eve.Description</p>
                                    </div>
                                    

                                </div>
                            }
                        }

                     </div>
                    
                </div>
            </div>
        </div>
    </div>

</section>

@*@section scripts{

        }

    `<div class="content-box">
        <div class="title-area">
            <div class="date">18<br><span>jan</span></div>
            <h3><a href="#">Going for <span>Food Donation</span></a></h3>
            <ul class="event-info">
                <li><span class="fa fa-calendar"></span>&ensp; January 18, 2017&ensp; - </li>
                <li><span class="fa fa-clock-o"></span>&ensp; 5;00 pm&ensp; -</li>
                <li><span class="fa fa-map-marker"></span>&ensp; NewDelhi, IN</li>
            </ul>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, incididunt ut labore et dolore.empor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, incididunt ut labore et dolore.</p>
        </div>
    </div>*@