@model Entities.Event

@{
    ViewBag.Title = "EventDetails";
}


<section class="single-event">
    <div class="container">
        <figure class="image-box">
            <img src="images/event/8.jpg" alt="" />
        </figure>
        <div class="content-box">

            <div class="title">
                <h2>@Model.Title</h2>
            </div>
            <ul class="event-info">
                <li><span class="fa fa-calendar"></span>@Model.EventDate.ToLongDateString()</li>
                <li> &emsp; <span class="fa fa-map-marker"></span>@Model.Address</li>

            </ul>

            <div class="text">
                <p>@Model.Description</p>
            </div>

            <div class="form-group">
                <div>
                    @Html.ActionLink("Back to List", "EventsIndex")
                </div>
            </div>


        </div>
    </div>
</section>
