@model IEnumerable<Entities.Event>

@{
    ViewBag.Title = "OrganizeEvents";
}


<!--Organize -event-->
<section class="all-event">
    <div class="container">
        <div class="section-title">
            <h5>going to raise humanity</h5>
            <h1>organize <span>event</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>

        <div>
            <span><a href="@Url.Action("CreateEvent","Event")" class="thm-btn style-1">Create An Event</a></span>
            <br />
            <br />
            <br />
        </div>
        <div class="item-list">
            <div class="item wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="bg-area">


                    @foreach (var eve in Model)
                    {

                        <div class="content-box">

                            <a href="@Url.Action("EventDetails","Event",new {id = @eve.Id})"> <h3 class="RedTitle">@eve.Title</h3></a>
                            <ul class="event-info">
                                <li>
                                    <span class="fa fa-calendar"></span>
                                    <span style="color: red ">
                                        @eve.EventDate.ToLongDateString()
                                    </span>
                                </li>
                                <li>
                                    &emsp; <span class="fa fa-map-marker"> </span>
                                    <span style="color: red ">
                                        @eve.Address
                                    </span>
                                </li>

                            </ul>
                            <div class="p-2">
                                <span>
                                    <a href="@Url.Action("EditEvent","Event",new {id = @eve.Id})" class="thm-btn style-2">Edit Event</a>
                                    <a href="@Url.Action("DeleteEvent","Event",new {id = @eve.Id})" class="thm-btn style-1">Delete  Event</a>
                                </span>
                            </div>

                            @if (eve.Photo == null)
                            {
                                <div style="display:hidden"></div>
                            }
                            else
                            {
                                <div class="p-3">
                                    <img id="imgevent" style="border-radius: 15px; height: 432px; width: 768px; object-fit: contain; " src="~/Assets/images/ImagesSaved/@eve.Photo" alt="Image couldn't render" />
                                </div>
                            }

                            @if (eve.Description.Length > 1500)
                            {
                                <div class="flex-container">
                                    <div style="border-radius: 6px; margin: 5px; padding: 10px; overflow: auto; width: 795px; height: 400px; color: white; background-color: #808080; ">@eve.Description</div>
                                </div>
                            }
                            else
                            {
                                <div class="flex-container">
                                    <div style=" border-radius: 6px; margin: 5px; padding: 10px; width: 768px; height: auto; color: white; background-color: #808080; ">@eve.Description</div>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

</section>

@*@section scripts{

        }

    `<div class="content-box">
        <div class="title-area">
            <div class="date">18<br><span>jan</span></div>
            <h3><a href="#">Going for <span>Food Donation</span></a></h3>
            <ul class="event-info">
                <li><span class="fa fa-calendar"></span>&ensp; January 18, 2017&ensp; - </li>
                <li><span class="fa fa-clock-o"></span>&ensp; 5;00 pm&ensp; -</li>
                <li><span class="fa fa-map-marker"></span>&ensp; NewDelhi, IN</li>
            </ul>
        </div>
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, incididunt ut labore et dolore.empor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam, incididunt ut labore et dolore.</p>
        </div>
    </div>*@